body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    margin: 0 auto;
    padding: 20px;
}

.badge_category {
    background-color: #60a5fa;
    font-size: 0.8rem;
    color: #ffffff;
    padding: 8px;
    text-align: center;
    border-radius: 5px;
}

.badge_tag {
    background-color: #fb923c;
    font-size: 0.8rem;
    color: #ffffff;
    padding: 8px;
    text-align: center;
    border-radius: 5px;
    margin-right: 5px;
}

.badge_workout {
    background-color: #e43e16;
    font-size: 0.8rem;
    color: #ffffff;
    padding: 8px;
    text-align: center;
    border-radius: 5px;
    margin-right: 5px;
}

.badge_level_begginer {
    background-color: #16e445;
    font-size: 0.8rem;
    color: white;
    padding: 8px;
    text-align: center;
    border-radius: 5px;
}

.badge_level_intermediate {
    background-color: #e4e416;
    font-size: 0.8rem;
    color: white;
    padding: 8px;
    text-align: center;
    border-radius: 5px;
}

.badge_level_advanced {
    background-color: #f70f08;
    font-size: 0.8rem;
    color: white;
    padding: 8px;
    text-align: center;
    border-radius: 5px;
}

table {
	background-color: #f3f4f6;
    border-collapse: collapse;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-family: Tahoma, Geneva, sans-serif;
    width: 100%;
}

table td {
	padding: 15px;
    word-wrap: break-word;
    
}
/* thead will repeat in every pdf page */
table thead td {
	background-color: #000;
	color: #ffffff;
	font-weight: normal;
	font-size: 1rem;
    text-align: left;
    text-transform: capitalize;
    padding: 25px 0px 25px 15px;
	border: 0px solid #54585d;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

table tbody td {
	font-size: 0.8rem;
    color: #636363;
	border-bottom: 1px solid #e5e7eb;
}

.tdHeader {
    background-color: #000;
	color: #ffffff;
	font-weight: normal;
	font-size: 1rem;
    text-align: left;
    text-transform: capitalize;
    padding: 25px 0px 25px 15px;
	border: 0px solid #54585d;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.tdInfo {
    background-color: #d5d8dc;
    color: #353535; 
    font-weight: bold; 
    border-left: 0px solid #FFF;  
    border-right: 0px solid #FFF;
    width: 50px;
}

.tdWorkout {   
    color: #353535; 
    word-wrap: break-word;  
    line-height: 33px;  
}

.url {
    display: block;
    padding: 5px;
}

.icons {
    text-align: center;
}

.icon_img {
    width: 30px;
    heigth: 30px;
}

.photo {
    width: 400px;
   /*  heigth: 400px; */ 
}

.code_text {
    overflow-x: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: 0.6rem;
}

.page_break {
    page-break-after: always;
}